<div class="banner-landing-page">
  <h1>Get Inked by top local artists</h1>
  <h2>Discover new works and book an appointment</h2>
  <div>
  <%= form_tag("/artists", method: "get", class: 'form-banner') do %>
  <%= select_tag 'location', options_for_select(@locations), class: 'form-control select-pages-home' %>
  <%= submit_tag "Search", class: 'btn btn-danger' %>
  <% end %>
  </div>
</div>



