



<div class="banner-landing-page">
  <h1>Get Inked by top local artists</h1>
  <h2>Discover new works and book an appointment</h2>
  <div>

    <%= form_tag "/artists", method: "get", class: 'form-banner' do %>
    <%= select_tag 'location', options_for_select(@locations), class: 'select-pages-home' %>
    <%= submit_tag "Discover Art", class: 'btn-landing' %>
    <% end %>


  </div>
</div>

<div class="container">
  <div class="row margin-top-20">
    <div class="col s12 l6">
      <h2>What’s Inkd?</h2>
      <h3>Location</h3>
      <p>Travelling to a new city and want to keep
       memory? It's easy with unique tattoo from
       local artists you cand find anywhere.</p>
       <h3>Artists</h3>
       <p>Top artists willing to provide you the best services
        at reasonable prices. Explore galleries of works
        and filter by location, style, or rating.</p>
        <h3>Feedback</h3>
        <p>Like your new artist? Give your arist a review and
          follow their profile.</p>
        </div>
        <div class="col s12 l6 margin-top-20">
          <img src="http://i.imgur.com/Ed5RNp7.png" class="img-responsive">
        </div>
      </div>
    </div>
    <h3 class="text-center">Featured Artists</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="top-artist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa6UsbobagjLguJnwr_axgiwVIWYZEkG06X0gWfpLZZXJRDtTY');">
            <div class="top-artist-name">SAM JIMINEZ</div>
            <div class="top-artist-city">
              <p>Geneva</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="top-artist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3Ce-u-QplJYxIdEu_zwBmokw3Amc8tYsMPvQvsJ0EBZN6aL6_Yg');">
            <div class="top-artist-name">CARMEN SANDIEGO </div>
            <div class="top-artist-city">
              <p>Paris</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="top-artist-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFPMTO7c2p7J2Qox9E-Bd_1VR7TfW2mw_xeMHQlwn3NT4jBqZ3eQ');">
            <div class="top-artist-name">KAYTLYN DEFRANCESCO</div>
            <div class="top-artist-city">
              <p>Barcelona</p>
            </div>
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>




