.navbar-wagon-pages-home {
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Navbar standard link */
.navbar-wagon-landing-link {
  color: white;
  font-size: 16px;
  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}

.navbar-wagon-landing-link-logo {
  color: white;
  font-size: 18px;
  font-weight: 900;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.margin-top-10 {
  margin-top: 10px;
}
